#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body{
  gap: 3rem;
}

.card-item{

  padding: 2rem;
  box-shadow: 2px 3px 5px darkcyan;
  gap: 2rem;
  display: flex;
  flex-direction: row;
}
